<div class="grid grid-cols-2 gap-2">
{% for months in viewParams.sortedMonths %}
  <div class="card p-1">
    <h2>{{ months.title }}</h2>
    <p>{{ months.value ?? 0 }} h</p>
  </div>
{% endfor %}
</div>