{% if viewParams.employee %}
  {% if viewParams.employee == "N/A" %}
    <div class="text-center">
      Employee could not be found. Defaulting to your data.
    </div>
  {% else %}
    <div class="text-center">
      <h2>Viewing monthly hours for: {{ viewParams.employee }}</h2>
    </div>
  {% endif %}
{% endif %}

<h2 class="text-center">{{ viewParams.year }}</h2>
<div class="grid grid-cols-2 gap-2">
{% for months in viewParams.sortedMonths %}
  <div class="card p-1 truncate">
    <h2>{{ months.title }}</h2>
    <p>{{ months.value ?? 0 }} h</p>
  </div>
{% endfor %}
</div>