<h1 class="app-main-title">Worksheet Dashboards</h1>

<div class="alert alert-info">
  This app adds more options to the existing Worksheet Dashboards in Hubleto.<br>
  You can check them out <a href="settings/dashboards" style='font-weight:bold;'>here</a>
</div>